section.about__body
    h1.about__title Пару слов о нас
    p.
        Мы делаем все возможное для удобства розничных
        покупателей. Вы можете приобрести представленные
        товары в одном из наших магазинов или заказать его
        на сайте. Удобная система фильтров и поиска
        позволяет быстро и просто найти любой интересующий
        вас товар и оплатить его любым удобным способом в
        том числе он-лайн платежами. Доставка товара
        осуществляется нашими экпедиторами и транспортными
        компаниями.
    p.
        Мы делаем все возможное для удобства розничных
        покупателей. Вы можете приобрести представленные
        товары в одном из наших магазинов или заказать его
        на сайте. Удобная система фильтров и поиска
        позволяет быстро и просто найти любой интересующий
        вас товар и оплатить его любым удобным способом в
        том числе он-лайн платежами. Доставка товара
        осуществляется нашими экпедиторами и транспортными
        компаниями.
.about__img
    img(src="../../assets/png-transparent-t-shirt-tire-unisex-off-roading-land-rover-defender-car-mode-of-transport-etsy 1.png" alt="")