=fc
    display: flex
    align-items: center
=center
    +fc
    justify-content: center
=sb
    +fc
    justify-content: space-between
=end
    +fc
    justify-content: flex-end
.checkout
    &__breadcrumbs
        margin: 22px 0 61px
    &__row
        +center
    &__panel
        border-radius: 5px
        border: 1px solid #E5ECF3
        padding: 24px 36px
