=fc
    display: flex
    align-items: center
=center
    +fc
    justify-content: center
=sb
    +fc
    justify-content: space-between
=end
    +fc
    justify-content: flex-end
.checkout
    &__breadcrumbs
        margin: 22px 0 61px
    &__row
        +center
    &__panel
        border-radius: 5px
        border: 1px solid #E5ECF3
        padding: 24px 36px
.contacts
    &__title
        font-size: 20px
        font-weight: 500
        margin-bottom: 32px
    &__input
        & > label, & > input
            display: block
        & > label
            font-size: 16px
            margin-bottom: 9px
        & > input
            margin-bottom: 32px
            padding: 12px
            border: 1px solid #E5ECF3
            border-radius: 3px
            outline: 1px solid #E5ECF3
    & .checkbox__label
        font-weight: 300
