@media screen and (max-width: 1024px)
    .about__img > img
        opacity: 0.25
    .basket__data
        display: none
    .navbar__category
        margin: 0
    .about__body
        width: 100%
    .head
        grid-template-columns: 1fr
        place-items: center
    .big-head
        grid-template-areas: "leftEl leftEl leftEl" "searchEl searchEl rightEl"
