@media screen and (max-width: 425px)
    .panel
        padding: 1rem
        &__title
            font-size: 16px
        &__body
            font-size: 14px
        &__price-f25
            font-size: 16px
        &__price
            margin-bottom: 0
    .discount__img
        transform: scale(0.4) translate(71%, -57%)
    .oil1__img
        transform: scale(0.7)

    .mark
        width: 44px
        height: 25px
    .about
        &__wrap
            margin: 40px auto 40px 0
        &__body > p
            font-size: 14px
        &__img
            transform: translateX(20%)
    .footer-header
        &__text
            font-size: 14px
        &__input
            width: 50%
    .brand
        &__img
            width: 100px
            height: 90px
            margin: 5px
            & > img
                width: 80%
        &__title
            font-size: 14px
            width: unset
    .brands
        margin: 0 -1rem
        &__wrap
            gap: 2px
        & > h2
            text-align: center
