.banner
    padding: 1rem 0
    display: grid
    grid-template-areas: "topleft topleft right" "bottomleft bottommiddle right"
    column-gap: 13px
    row-gap: 16px
    grid-template-columns: repeat(3, 1fr)

.discount
    grid-area: topleft
    position: relative
    &__img
        position: absolute
        top: 0
        right: 0
        z-index: 0
    &__wrap
        width: 45%
        z-index: 1
.novelty
    grid-area: right
    overflow: hidden
    &__images
        position: absolute
        z-index: 1
        bottom: 0
    &__img
        position: absolute
        left: 37px
        bottom: 88px
        z-index: 2
    &__shadow
        width: 167px
        height: 13px
        z-index: 1
        background: #0004
        border-radius: 50%
        filter: blur(4px)
        position: absolute
        left: 58%
        transform: translateX(-50%)
.oil1
    grid-area: bottomleft
    &__img
        position: absolute
        bottom: 34px
        right: 23px
.oil2
    grid-area: bottommiddle
