body {
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.head__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head__right {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 3em;
          column-gap: 3em;
}

.head__right > .head__item {
  list-style: none;
}

.head__item > a {
  color: #2b292b;
  text-decoration: none;
}

.geo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.geo__location {
  padding: 0 8px;
}

.big-head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.big-head__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big-head__right {
  place-self: center end;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.47);
}

.search__input {
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1 0;
          flex: 1 0;
}
