.carousel-novelty
    each i in [0,1,2]
        .slider__item.slider__item_100.novelty__img.carousel-item
            img.novelty__shadow(src="../../assets/5522-315x260 1.png" alt="")
                                        