.counter
    button.counter__plus
        svg(width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" )
            line(x1="8.74228e-08" y1="6" x2="12" y2="6" stroke="#92817B" stroke-width="2" )
            line(x1="6" y1="-1.09311e-08" x2="6" y2="12" stroke="#92817B" stroke-width="2" )
    span.counter__value 1
    button.counter__minus
        svg(width="10" height="2" viewBox="0 0 10 2" fill="none" xmlns="http://www.w3.org/2000/svg" )
            line(y1="1" x2="10" y2="1" stroke="#92817B" stroke-width="2")