.big-head__search.search
    input.search__input(type="text" placeholder="Введите название товара или артикул")
    .search__pic
        svg(width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg")
            g(clip-path="url(#clip0_2_669)")
                path(d="M8.87474 0C4.16982 0 0.35498 3.81487 0.35498 8.51976C0.35498 13.2247 4.16982 17.0396 8.87474 17.0396C10.6839 17.0396 12.3618 16.4752 13.741 15.514L20.184 21.9559C20.2421 22.0141 20.3363 22.0141 20.3914 21.9599L21.6053 20.7461C21.6614 20.69 21.6564 20.5938 21.6013 20.5386L15.2425 14.1798C16.5816 12.6754 17.3945 10.6928 17.3945 8.51973C17.3945 3.81487 13.5797 0 8.87474 0ZM8.87474 16.0372C4.72312 16.0372 1.3573 12.6714 1.3573 8.51976C1.3573 4.36814 4.72309 1.00235 8.87474 1.00235C13.0264 1.00235 16.3922 4.36814 16.3922 8.51976C16.3922 12.6714 13.0264 16.0372 8.87474 16.0372Z" fill="#2B292B")
            defs
                clipPath(id="clip0_2_669")
                    rect(width="22" height="22" fill="white")