@import "./_consts"
@import "./header/_lk"
@import "./header/_basket"
@import "./_expand-arrow"
@import "./main"
@import "./catalog"
@import "./_panel"
@import "./banner/_banner"
@import "./_brand"
@import "./header/_head"
@import "./header/_big-head"
@import "./header/_big-button"
@import "./_container"
@import "./header/_main-head"
@import "./header/_search"
@import "./header/_geo"
@import "./header/_menu"
@import "./header/_navbar"
@import "./top/_top"
@import "./about/_about"
@import "./news/_news"
@import "./footer/_footer"
@import "./footer/_developer"
@import "./media/_1024"
@import "./media/_768"
@import "./media/_588"
@import "./media/_425"
@import "./media/_320"
@import "./modal/_modal"

@import "./_its"

*,*::before,*::after
    box-sizing: border-box

body
    font-family: Roboto, sans-serif
    padding: 0
    margin: 0
    color: $color__black-super

h2
    font-size: 25px
    font-weight: 400
    color: $color__black-super

button[disable="true"]
    opacity: 0.2
    pointer-events: none
