@import "./_consts"
@import "./header/_lk"
@import "./header/_basket"
@import "./_expand-arrow"
@import "./main"
@import "./catalog"
@import "./_panel"
@import "./banner/_banner"
@import "./_brand"
@import "./header/_head"
@import "./header/_big-head"
@import "./header/_big-button"
@import "./_container"
@import "./header/_main-head"
@import "./header/_search"
@import "./header/_geo"
@import "./header/_menu"
@import "./header/_navbar"
@import "./top/_top"
@import "./about/_about"
@import "./news/_news"
@import "./footer/_footer"
@import "./footer/_developer"
@import "./media/_1024"
@import "./media/_768"
@import "./media/_588"
@import "./media/_425"
@import "./media/_320"
@import "./modal/_modal"

// @import "./_its"
@import "./_material-carousel"
// @import "../components/range/range"

*,*::before,*::after
    box-sizing: border-box

body
    font-family: Roboto, sans-serif
    padding: 0
    margin: 0
    overflow-x: hidden
    color: $color__black-super

h2
    font-size: 25px
    font-weight: 400
    color: $color__black-super

button[disable="true"]
    opacity: 0.2
    pointer-events: none

.slider__container
    width: 100%
.slider-novelty
    width: 100%
    & .indicators
        position: absolute
        bottom: 0
        padding: 0
        transform: translateY(150%)
    & > .carousel-novelty
        overflow: unset
        // overflow-x: hidden
.container-slider
    width: 100%
.slider-news
    display: flex
    align-items: center
.slider__control
    height: 28px
    width: 28px
    border: none
    cursor: pointer
    &[data-slide="prev"]
        background: transparent url("../assets/svg/prev.svg") no-repeat
    &[data-slide="next"]
        background: transparent url("../assets/svg/next.svg") no-repeat
        background-position: 100% 0

.category
    &__items
        display: grid
        grid-template-columns: repeat(3,1fr)
        place-items: start center
        grid-row-gap: 2em

        margin: 1em
        padding: 1em 0
    &__form
        margin: 1em
        font-size: 16px
        display: flex
        align-items: center
        justify-content: flex-end
        column-gap: 1em
        & > span
            font-weight: 500
        & > select
            padding: 0.5em
    &__pagination
        text-align: right
        font-size: 18px
        color: #92817B
article.main
    @import "../components/range/range"
.options
    width: 100%
    border: 1px solid #E5ECF3
    border-radius: 3px
    &__caption
        margin-bottom: 11px
    &__price
        border-bottom: 1px solid #E5ECF3
        height: 95px
        padding: 11px 17px
    &__vendors
        margin: 10px 0
        padding: 11px 17px
    &__vendor:not(:last-child)
        margin-bottom: 16px
    &  input[type="checkbox"]
        margin-right: 11px
        &:checked
            filter: hue-rotate(165deg) brightness(1.7)
.middle
    margin-top: 20px
