mixin productCard(img, price, name, has="true")
    .product-card
        if has==="true"
            .product-card__label.product-card__label-active
        else 
            .product-card__label.product-card__label-passive
        a.product-card__img(href="product.html")
            img(src=img alt="")
        .product-card__price= price
        .product-card__body= name
        
        .product-card__footer
            .product-card__counter
                include ../counter/counter.pug
            .product-card__basket
                svg(width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" )
                    g(clip-path="url(#clip0_2_458)")
                        path(d="M32.0925 9.81751C31.4325 9.07501 30.525 8.58001 29.535 8.58001H16.83C16.4175 8.58001 16.005 8.91001 16.005 9.40501C16.005 9.90001 16.4175 10.23 16.83 10.23H29.535C30.03 10.23 30.525 10.4775 30.855 10.8075C31.185 11.22 31.35 11.715 31.185 12.21L30.4425 16.335H21.3675C20.955 16.335 20.5425 16.665 20.5425 17.16C20.5425 17.655 20.955 17.985 21.3675 17.985H30.195L29.4525 21.945C29.37 22.5225 28.7925 22.935 28.215 22.935H12.375C11.7975 22.935 11.3025 22.5225 11.1375 21.945L7.92001 4.04251C7.83751 3.63001 7.50751 3.38251 7.09501 3.38251H0.742511C0.330011 3.38251 -0.082489 3.71251 -0.082489 4.20751C-0.082489 4.70251 0.330011 5.03251 0.742511 5.03251H6.43501L9.57001 22.3575C9.73501 23.5125 10.56 24.3375 11.6325 24.6675C11.22 25.245 10.89 25.9875 10.89 26.8125C10.89 28.875 12.54 30.525 14.6025 30.525C16.665 30.525 18.315 28.875 18.315 26.8125C18.315 26.07 18.0675 25.3275 17.655 24.75H22.6875C22.275 25.3275 22.0275 26.07 22.0275 26.8125C22.0275 28.875 23.6775 30.525 25.74 30.525C27.8025 30.525 29.4525 28.875 29.4525 26.8125C29.4525 25.9875 29.205 25.245 28.7925 24.6675C29.865 24.42 30.7725 23.5125 31.02 22.3575L32.835 12.6225C33 11.6325 32.7525 10.6425 32.0925 9.81751ZM16.665 26.73C16.665 27.885 15.7575 28.7925 14.6025 28.7925C13.4475 28.7925 12.54 27.885 12.54 26.73C12.54 25.575 13.4475 24.6675 14.6025 24.6675C15.7575 24.6675 16.665 25.575 16.665 26.73ZM25.8225 28.7925C24.6675 28.7925 23.76 27.885 23.76 26.73C23.76 25.575 24.6675 24.6675 25.8225 24.6675C26.9775 24.6675 27.885 25.575 27.885 26.73C27.885 27.885 26.9775 28.7925 25.8225 28.7925Z" fill="#2B292B" )
                    defs
                        clipPath(id="clip0_2_458")
                            rect(width="33" height="33" fill="white")