include ../modal/modal.pug
menu.navbar__nav
    button.navbar__catalog.big-button
        .big-button__title Каталог товаров
        .big-button__pic.expand-arrow__pic-close
            svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
                path(d="M9 6L15 12L9 18" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round")
    menu.burger
        button.burger__pic
            svg(height="32px" id="Layer_1" style="enable-background: new 0 0 32 32" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
                path(d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z")
        +modal
            nav.navbar__category
                - const navbarItems = ["Акции","Новинки","Ремонт","О компании","Доставка и оплата", "Как сделать заказ","Новости","Контакты"]
                each i in navbarItems
                    .navbar__item
                        a(href="#")= i
    include ./navbar__category.pug
    .navbar__rightside
        a.lk(href="/registration.html")
            .lk__pic
                svg(width="45" height="45" viewBox="0 0 45 45" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M22.5 22.0429C21.2251 22.0431 19.9788 21.6652 18.9186 20.957C17.8585 20.2488 17.0322 19.2422 16.5441 18.0644C16.0561 16.8866 15.9284 15.5905 16.177 14.34C16.4256 13.0896 17.0394 11.941 17.9409 11.0394C18.8423 10.1378 19.9909 9.52383 21.2413 9.27505C22.4917 9.02626 23.7878 9.15386 24.9657 9.64171C26.1435 10.1296 27.1503 10.9557 27.8586 12.0158C28.567 13.0758 28.945 14.3221 28.945 15.597C28.9434 17.3059 28.2639 18.9444 27.0556 20.1529C25.8473 21.3613 24.2089 22.0411 22.5 22.0429ZM22.5 11.01C21.5925 11.0098 20.7054 11.2788 19.9508 11.7828C19.1962 12.2869 18.608 13.0034 18.2606 13.8418C17.9133 14.6802 17.8223 15.6027 17.9993 16.4927C18.1763 17.3828 18.6133 18.2003 19.255 18.842C19.8967 19.4837 20.7142 19.9207 21.6043 20.0977C22.4943 20.2747 23.4169 20.1837 24.2552 19.8364C25.0936 19.489 25.8101 18.9009 26.3142 18.1462C26.8182 17.3916 27.0872 16.5045 27.087 15.597C27.0856 14.3809 26.6019 13.215 25.742 12.3551C24.882 11.4951 23.7161 11.0114 22.5 11.01V11.01Z" fill="white")
                    path(d="M32.7893 35.8479H12.2106L11.2816 34.9189C11.2816 33.4457 11.5718 31.9869 12.1356 30.6258C12.6993 29.2648 13.5257 28.0281 14.5674 26.9863C15.6091 25.9446 16.8458 25.1183 18.2069 24.5545C19.568 23.9907 21.0268 23.7006 22.5 23.7006C23.9732 23.7006 25.432 23.9907 26.7931 24.5545C28.1541 25.1183 29.3908 25.9446 30.4325 26.9863C31.4743 28.0281 32.3006 29.2648 32.8644 30.6258C33.4282 31.9869 33.7183 33.4457 33.7183 34.9189L32.7893 35.8479ZM13.1836 33.9899H31.8164C31.5892 31.6767 30.5096 29.5307 28.7875 27.9696C27.0655 26.4084 24.8243 25.5437 22.5 25.5437C20.1756 25.5437 17.9344 26.4084 16.2124 27.9696C14.4904 29.5307 13.4108 31.6767 13.1836 33.9899V33.9899Z" fill="white")
            .lk__title Вход
        .basket
            a.basket__log(href="basket.html")
                svg( width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg" )
                    g(clip-path="url(#clip0_2_676)")
                        path( d="M32.0925 9.81745C31.4325 9.07495 30.525 8.57995 29.535 8.57995H16.83C16.4175 8.57995 16.005 8.90995 16.005 9.40495C16.005 9.89995 16.4175 10.2299 16.83 10.2299H29.535C30.03 10.2299 30.525 10.4774 30.855 10.8074C31.185 11.2199 31.35 11.7149 31.185 12.2099L30.4425 16.3349H21.3675C20.955 16.3349 20.5425 16.6649 20.5425 17.1599C20.5425 17.6549 20.955 17.9849 21.3675 17.9849H30.195L29.4525 21.9449C29.37 22.5224 28.7925 22.9349 28.215 22.9349H12.375C11.7975 22.9349 11.3025 22.5224 11.1375 21.9449L7.91998 4.04245C7.83748 3.62995 7.50748 3.38245 7.09498 3.38245H0.74248C0.32998 3.38245 -0.0825195 3.71245 -0.0825195 4.20745C-0.0825195 4.70245 0.32998 5.03245 0.74248 5.03245H6.43498L9.56998 22.3574C9.73498 23.5124 10.56 24.3374 11.6325 24.6674C11.22 25.2449 10.89 25.9874 10.89 26.8124C10.89 28.8749 12.54 30.5249 14.6025 30.5249C16.665 30.5249 18.315 28.8749 18.315 26.8124C18.315 26.0699 18.0675 25.3274 17.655 24.7499H22.6875C22.275 25.3274 22.0275 26.0699 22.0275 26.8124C22.0275 28.8749 23.6775 30.5249 25.74 30.5249C27.8025 30.5249 29.4525 28.8749 29.4525 26.8124C29.4525 25.9874 29.205 25.2449 28.7925 24.6674C29.865 24.4199 30.7725 23.5124 31.02 22.3574L32.835 12.6224C33 11.6324 32.7525 10.6424 32.0925 9.81745ZM16.665 26.7299C16.665 27.8849 15.7575 28.7924 14.6025 28.7924C13.4475 28.7924 12.54 27.8849 12.54 26.7299C12.54 25.5749 13.4475 24.6674 14.6025 24.6674C15.7575 24.6674 16.665 25.5749 16.665 26.7299ZM25.8225 28.7924C24.6675 28.7924 23.76 27.8849 23.76 26.7299C23.76 25.5749 24.6675 24.6674 25.8225 24.6674C26.9775 24.6674 27.885 25.5749 27.885 26.7299C27.885 27.8849 26.9775 28.7924 25.8225 28.7924Z" fill="white")
                    defs
                        clipPath(id="clip0_2_676")
                            rect(width="33" height="33" fill="white")
            .basket__data
                .basket__summa 10 590
                .basket__volume 3 товара