.middle
    .multi-range-slider
        input(type="range" id="input-left" min="0" max="100" value="25")
        input(type="range" id="input-right" min="0" max="100" value="75")

        .slider
            .track
            .range
            .thumb.left
                .thumb__inner
                .thumb__monitor 3 000
            .thumb.right
                .thumb__inner
                .thumb__monitor 4 000