.footer-header__wrap
    .footer-header__text.
        Мы проводим специальные акции для наших клиентов.
        Оформите подписку и мы будем держать вас в курсе.
    
    form.footer-header__form
        input.footer-header__input(type="text" placeholder="E-mail")
        input.footer-header__submit(type="submit" value="Подписаться")