ul.catalog
    - menus=["Для монтажа","Тросы","Клюзы","Роликовые направляющие", "Стропы","Крюки","Шаклы","Блоки","Пульты","Наборы","Домкраты","Бамперы силовые","Свет","Аксессуары","Запчасти"]
    each i,idx in menus
        if i==="Роликовые направляющие"
            +menuItem(i,idx)
                ul.sub-menu__content
                    li.catalog__item
                        .catalog__itembody
                            span Чугунный клюз
                    li.catalog__item
                        .catalog__itembody
                            span Алюминиевый клюз
        else
            +menuItem(i,idx)