=center
    display: flex
    align-items: center
    justify-content: center
=sb
    display: flex
    align-items: center
    justify-content: space-between
=start
    display: flex
    align-items: center
    justify-content: start
main.product
    padding-top: 22px
.product-resume
    &__wrapper
        width: 100%
        display: flex
        align-items: center
        justify-content: space-between
    &__stars
        display: flex
        align-items: center
        justify-content: center
    &__details
        display: grid
        grid-template-columns: repeat(2,1fr)
        margin-bottom: 44px
        border-top: 1px solid #92817B
    &__image
        display: flex
        align-items: center
        justify-content: center
        margin-right: calc( 88 / 1920 * 100%)
        & button.splide__arrow--prev
            transform: translate(-50%,-150%)
            background: none
        & button.splide__arrow--next
            transform: translate(-50%,150%)
            background: none

    &__img
        margin-right: 20px
    &__carousel
        // transform: rotate(-90deg)
        transform-origin: center
        & > .carousel-item
            //временно
            width: 100px
            height: 100px
            background: #eee
            text-align: center
            & > *
                transform: rotate(-90deg)

    &__slider
        // width: 200px
        // +center
        // flex-direction: row
        // transform: rotate(90deg)

        // & > .slider__control
            // transform: rotate(90deg)
    &__upblock
        +sb
        margin-bottom: 69px
    &__upblock-left
        & > *:not(:last-child)
            margin-bottom: 1em
    &__data-controls
        +start
        & > .counter
            margin-right: 24px
            padding: 6px 18px
    &__price
        font-size: 40px
        font-weight: 600

    &__description
        font-size: 18px
        font-weight: 600
        & > p
            font-size: 16px
            font-weight: 200
    &__title
        font-size: 25px
    &__crumbs
        font-size: 14px
        & > a
            color: #92817B
            text-decoration: none
    &__busket
        border-radius: 2px
        color: #fff
        background: #91BABE
        border: none
        width: 116px
        height: 30px

.product-description
    &__tabs
        // position: absolute
        left: 0
        right: 0
        +start
        background: #3D4144
        // margin-right: -21%
        padding-left: calc( 300 / 1920 * 100%)
        @media screen and ( max-width: 1024px )
            padding-left: 1em

    &__tab
        color: #fff
        padding: 20px 55px
        cursor: pointer
        &.active
            background: #91BABE
    &__body
        width: 100%
        background: #F3F4F6
        // position: absolute
        left: 0
        right: 0
        // transform: translateY(58px)
        height: 309px
        margin-right: -21%
        overflow-y: auto
    &__body-container
        display: none
        max-width: 1319px
        margin: 0px calc( 300 / 1920 * 100%) 0
        padding-top: 25px
        &.active
            display: block
        @media screen and ( max-width: 1024px )
            margin: 0px 1em 0

.product-recent
    // position: absolute
    top: calc( 58px + 25px + 284px)
    left: 0
    right: 0
    max-width: 1319px
    margin: 0 auto
    &__container
        +center
        overflow: scroll
    &__title
        font-size: 30px
        font-weight: 600

#main-slider-track
    width: 400px
