ul.head__right.main-menu
    - const menuItems = ["О компании","Доставка и оплата","Как сделать заказ","Новости","Контакты"]
    each i in menuItems
        li.main-menu__item.main-menu__item-top
            a(href="#")= i