.panel.discount
    img.discount__img( src="../../assets/tormoz 1 1.png" alt="tormoz")
    .discount__wrap
        .mark
            span 10
        .panel__title-f25 Диск тормоза Comeup HV-10
        .panel__body Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .panel__price.panel__price-f25 5 999