.panel.novelty
    svg.novelty__back(width="388" height="339" viewBox="0 0 388 339" fill="none" xmlns="http://www.w3.org/2000/svg" )
        path(d="M0 206.695V334C0 336.761 2.23857 339 4.99999 339H383C385.761 339 388 336.761 388 334V0C388 0 273.012 0 154.398 65.9028C79.3039 107.626 0 206.695 0 206.695Z" fill="#91BABE" )
    .panel__label Новинки
    .panel__title-f20= "Блок усиления (полиспаст) под синтетический трос 10 мм/9 т"

    .panel__body.
        Lorem ipsum dolor sit amet consectetur,
        adipisicing elit.
    .novelty__carousel
        .slider-novelty
            //- div(style="display: none")
            //-     .top-controls
            //-         button.slider__control(href="#" data-slide="prev" )
            //-         button.slider__control(href="#" data-slide="next" )
            //- .slider__container
            .slider__items.carousel.carousel-novelty
                each i in [0,1,2]
                    .slider__item.slider__item_100.novelty__img.carousel-item
                        .carousel-novelty__images
                            img(src="../../assets/5522-315x260 1.png" alt="")
                            img.novelty__shadow(src="../../assets/5522-315x260 1.png" alt="")